.imnd-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.imnd-typo .imnd-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.icon-image-preview {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
}
.ui-menu li {
    height: 30px;
    cursor: pointer;
    background: #FFF;
    max-width: 240px;
}
.pull-right {
    float: right !important;
}
.clear {
    clear: both;
}
.search-form .btn {
    margin-top: -6px;
    margin-bottom: 12px;
}
.search-form .row {
    margin: 12px 0 0 0;
    display: block;
    height: 40px;
}
.search-form .control {
    float: left;
    margin-right: 24px;
}
.search-form .control label {
    float: left;
    margin-right: 12px;
    padding-top: 4px;
}
.search-form .control input {
    width: 100px;
}
.form-control {
    float: left;
    width: auto;
    border-radius: .25rem;
    margin-top: -2px;
    padding-bottom: 0;
    padding-top: 0;
}
.search-form .form-control {
    margin-top: -6px;
    padding-bottom: 0;
    padding-top: 0;
}

.vdp-datepicker {
    float: left;
}

form .row {
    margin-bottom: 24px;
}
label {
    display: block;
    float: left;
    margin-right: 12px;
    padding-top: 8px;
}
.form-control input {
    border: none;
}
form .material-icons {
    cursor: pointer;
}
form table td {
    padding: 2px 8px;
}
form table input,form table select {
    border-radius: .25rem;
    border: 1px solid #ced4da;
}
.card-title {
    float: left;
    margin-right: 12px;
}
.form-title {
    float: left;
    padding-top: 9px;
    margin-right: 24px;
    font-weight: bold;
}
.card-category {
    padding-top: 2px;
}
.nav-tabs-title {
    float: left;
    padding-top: 10px;
    font-size: 16px;
}
.card-header.card-header-primary a {
    background-color: #00bcd4;
}
.pagination button.btn {
    font-weight: bold;
    font-size: 12pt;
    padding: 4px 18px;
    margin-top: 11px;
}
.pagination span {
    font-weight: bold;
    padding: 14px 0 0 10px
}
.search-form .pagination {
    float: left;
}
.red {
    color: red;
}
.green {
    color: green;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
.error {
    color: red;
    clear: both;
}
