
// Fonts
/*@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");*/

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.error {
  color: red;
  clear: both;
}
